<!DOCTYPE html>
<html lang="en">

<head>
    <% include ('./../partials/head') %>
</head>

<body class="container">
    <% include ('./../partials/menu') %>

    <h1><%= page %></h1>
    <br>
    <div class="text-danger">
        <% if (message != '' || message == undefined) { %>
                <p>
                    <%= message %>
                </p>
        <% } %>
    </div>
    <div>
        <p>Welcome to templating using EJS</p>
    </div>
    <div class="container">
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Score</th>
                <th>Created Date</th>
                <th>Updated Date</th>
            </tr>
            <tbody>
                <% result.forEach(function(item) { %>
                    <tr>
                        <td><%= item.name %></td>
                        <td><%= item.description %></td>
                        <td><%= item.type %></td>
                        <td><%= item.quantity %></td>
                        <td><%= item.score %></td>
                        <td class="date-data"><%= item.createDate %></td>
                        <td class="date-data"><%= item.updateDate %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <div id="dvCreate" hidden>
        <form method="POST" action="/food/create">
            <div class="container row">
                <table>
                    <tr>
                        <td>Name : </td>
                        <td>
                            <input type="text" name="ipName" />
                        </td>
                    </tr>
                    <tr>
                        <td>Description : </td>
                        <td>
                            <input type="text" name="ipDescription" />
                        </td>
                    </tr>
                    <tr>
                        <td>Type : </td>
                        <td>
                            <input type="number" name="ipType" min="0" />
                        </td>
                    </tr>
                    <tr>
                        <td>Quantity : </td>
                        <td>
                            <input type="number" name="ipType" min="0" />
                        </td>
                    </tr>
                    <tr>
                        <td>Score : </td>
                        <td>
                            <input type="number" name="ipScore" min="0" />
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">
                    <i class="far fa-arrow-alt-circle-right"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="container">
        <button id="btnCreate" class="btn btn-primary" title="Create new Food">
            Create 
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <footer>
        <% include ('./../partials/footer') %>
    </footer>

</body>
<% include ('./../partials/script') %>

</html>
